<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,500;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/work.css">
    <title>My.Work</title>
</head>
<body>
    <div class="wrapper">
        <!--navbar-->
        <nav class="navbar fixed-top">
            <span id="brand">
                <a href="index.html" class="name">J.Hussong</a>
            </span>

            <ul id="menu">
                <li><a href="../index.html">home<span class="dot">.</span></a></li>
                <li><a href="work.html">work<span class="dot">.</span></a></li>
                <li><a href="about.html">about<span class="dot">.</span></a></li>
                <li><a href="contact.html">email<span class="dot">.</span></a></li>
            </ul>

            <div id="toggle">
                <div class="span">menu</div>
            </div>
            
        </nav>

        <div id="resize">
            <div class="close-btn">close</div>

            <ul id="menu">
                <li><a href="../index.html">home<span class="dot">.</span></a></li>
                <li><a href="work.html">work<span class="dot">.</span></a></li>
                <li><a href="about.html">about<span class="dot">.</span></a></li>
                <li><a href="contact.html">email<span class="dot">.</span></a></li>
            </ul>
        </div>
        <div class="container-fluid main-container">
            <h1>work.</h1>
            <div class="vertical"></div>     
            <div class="container-fluid projects-container">
                <div class="project">
                    <img src="../assets/myinfo2.png" alt="site-main-page" class="image"/>
                    <div class="page-info">
                        <p class="info">
                            This is a React app that has three different components. There is an image search that uses
                            the Pixabay API to return images of the item you searched for. The weather component uses calls to the
                            OpenWeatherMap API to get the weather in the area of your search. The app also has a news component
                            that makes a call to the News API and returns the top headlines of the day.
                        </p>
                        <br>
                        <div class="link-container">
                            <a href="https://heuristic-lichterman-d43558.netlify.app/" target="_blank" class="app-link">My.Info App</a>
                        </div>
                    </div>
                </div>
                <div class="hr"></div>
                <div class="project">
                    <img src="../assets/gallery2.png" alt="gallery-site-main-page" class="image"/>
                    <div class="page-info">
                        <p class="info">
                            A webpage built with HTML, CSS, and JavaScript. It uses a form of animate on scroll for effects while 
                            scrolling on the sites main page.
                        </p>
                        <br>
                        <div class="link-container">
                            <a href="https://jhussong.github.io/bandwgallery/" target="_blank" class="app-link">Photo Gallery Website</a>
                        </div>
                    </div>
                </div>
                <div class="hr"></div>
                <div class="project">
                    <img src="../assets/words2.png" alt="chat-site-main-page" class="image"/>
                    <div class="page-info">
                        <p class="info">
                            A chat app built with Node and Socket.io. It allows users to sign into a chatroom that they create
                            or one that has already been created by someone else. This app is based on an app that was created
                            by Andrew Mead for his course on Node.
                        </p>
                        <br>
                        <div class="link-container">
                            <a href="https://words-node-chat-app.herokuapp.com/" target="_blank" class="app-link">Words Between Friends</a>
                        </div>
                    </div>
                </div>
                <div class="hr"></div>
                <div class="project">
                    <img src="../assets/clonewars2.png" alt="clone-wars" class="image"/>
                    <div class="page-info">
                        <p class="info">
                            This is a landing page for the animated Star Wars show. The page is built with HTML, CSS, and 
                            JavaScript. I saw the layout being used in another way and thought it might look good used for  
                            something theatrical.
                        </p>
                        <br>
                        <div class="link-container">
                            <a href="https://words-node-chat-app.herokuapp.com/" target="_blank" class="app-link">Clone Wars Landing Page</a>
                        </div>
                    </div>
                </div>
                <div class="hr"></div>
                <div class="project">
                    <img src="../assets/travel2.png" alt="travel-site" class="image"/>
                    <div class="page-info">
                        <p class="info">
                            This is a landing page for a fictional travel agency built with HTML and CSS.
                        </p>
                        <br>
                        <div class="link-container">
                            <a href="https://jhussong.github.io/travelagency/" target="_blank" class="app-link">Travel Landing Page</a>
                        </div>
                    </div>
                </div>
                <div class="hr"></div>
                <div class="project">
                    <img src="../assets/footy2.png" alt="football-forum" class="image"/>
                    <div class="page-info">
                        <p class="info">
                            Football Forum is an app that I built during my time at coding bootcamp. It is built with React,
                            Node, Express, and PostGres. It has full CRUD operations. 
                        </p>
                        <br>
                        <div class="link-container">
                            <a href="https://jhfooty-client.herokuapp.com/" target="_blank" class="app-link">Football Forum</a>
                        </div>
                    </div>
                </div>
                <div class="hr"></div>
            </div>
        </div>








        <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js'></script>
        <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
        <script type="text/javascript">
            $("#toggle").click(function(){
                $(this).toggleClass('on');
                $("#resize").toggleClass("active");
            });
    
            $("#resize ul li a").click(function(){
                $(this).toggleClass('on');
                $("#resize").toggleClass("active");
            });
    
            $(".close-btn").click(function(){
                $(this).toggleClass('on');
                $("#resize").toggleClass("active");
            });
    
            gsap.from("#brand", 1, {
                delay: 0.4,
                y: 10,
                opacity: 0,
                ease: Expo.easeInOut
            });
    
            TweenMax.staggerFrom("#menu li a", 1, {
                delay: 0.8,
                opacity: 0,
                ease: Expo.easeInOut
            }, 0.1);
    
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>